<!DOCTYPE HTML>
@{
	string Title = Model.WithoutSettings.String(BookSiteKeys.Title);
	string PageTitle = Context.String(BookSiteKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}
<html>
	<head>
		<title>@PageTitle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="@Context.String(BookSiteKeys.Description)" />
		<meta name="application-name" content="@Context.String(BookSiteKeys.Title)" />
		<meta name="msapplication-tooltip" content="@Context.String(BookSiteKeys.Title)" />
		<meta name="msapplication-starturl" content="@Context.GetLink("/")" />
        <meta name="author" content="Wyuna Community Inc.">

		<!-- TODO: address these tags -->
		<!-- TODO: More social graph meta tags -->
		<meta property="og:title" content="@PageTitle" />
        @*<meta property="og:image" content="@BookSiteKeys.Image" />*@
		<meta property="og:type" content="website" />
		<meta property="og:url" content="@Context.GetLink(Model, true)" />

		<link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">

		<!-- Font Awesome 5 -->
    	<link rel="stylesheet" href="@Context.GetLink("/assets/vendor/@fontawesome/fontawesome-free/css/all.min.css")" >
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">


		<!-- Theme CSS -->
		<link rel="stylesheet" href="@Context.GetLink("/assets/css/theme.css")" />
	</head>


	@*@{
		string bodyClass = Model.FilePath(Keys.RelativeFilePath).FullPath == "index.html" ? "homepage" : "right-sidebar";
	}*@

	<body>
	@Html.Partial("_Head")

	@RenderBody()

	@Html.Partial("_Footer")
    @Html.Partial("_Scripts")
	</body>
</html>
